.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;

  button {
    background-color: $primary-color;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &.active {
      background-color: $active-button-color;
      font-weight: bold;
    }

    &:hover {
      background-color: $hover-button-color;
    }

    &:active {
      transform: scale(0.95);
    }

    &:disabled {
      background-color: $disabled-button-color;
      cursor: not-allowed;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 5px $hover-button-color;
    }
  }
}
